.btn-add {
  background-color: rgba(0, 0, 0, 0.896); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.btn-add:hover {
  background-color: rgba(0, 0, 0, 0.814);
  color: white;
}
